<h2>My Monsters</h2>
<ul class="monsters">
  <li *ngFor="let monster of monsters" (click)="onSelect(monster)" [class.selected]="monster === selectedMonster">
    <span class="badge">{{monster.id}}</span> {{monster.name}}
  </li>
</ul>

<div *ngIf="selectedMonster">

  <h2>{{selectedMonster.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>
    {{selectedMonster.id}}
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedMonster.name" placeholder="name">
    </label>
  </div>
  <div>
    <span>attack: </span>
    {{selectedMonster.attack}}
  </div>
  <div>
    <span>defense: </span>
    {{selectedMonster.defense}}
  </div>

</div>